{% extends "base.html" %}
{% block content %}
<div class="design-detail">
    <div class="header">
        <h1>{{ design.name }} <span class="version">v{{ design.current_version }}</span></h1>
        <p class="author">by <a href="/creator/{{ design.creator.handle }}">{{ design.creator.handle }}</a></p>
    </div>
    <div class="content">
        <p class="desc">{{ design.description }}</p>
        
        <div class="install-box">
            <h3>Install Command</h3>
            <code>clearfx install {{ design.slug }}</code>
        </div>
        
        <div class="meta">
            <p><strong>License:</strong> {{ design.license }}</p>
            <p><strong>Downloads:</strong> {{ design.download_count }}</p>
            <p><strong>Tags:</strong> 
                {% if design.tags %}
                    {{ design.tags | join(', ') }}
                {% else %}
                    None
                {% endif %}
            </p>
            <a href="/api/v1/designs/{{ design.slug }}/download" class="btn">Download Package</a>
        </div>
    </div>
</div>
{% endblock %}
